@mixin btn-primary {
  background: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: $white;
  text-decoration: none;

  &:hover {
    background: transparent;
    color: $primary-color;
  }
}

@mixin main-header {
  $transition: 0.4s ease-out;

  width: 100%;
  position: fixed;
  z-index: 10;
  transition: $transition;

  .row {
    transition: $transition;
    display: flex;
  }
}
